
 <%# recover last comment from posts file for the users %>
 
<% @user.posts.any? do %>
<% @posts=@user.posts%>

   
<%= render 'shared/post_list', posts: @posts %>
</div>
 <%end%>

 <h1>User Profile</h1>
<p>
 <strong>Name:</strong>
<%= @user.username %>
</p>   
<p>
 <strong>Created:</strong>
<%= @user.created_at%>
</p>  
<p>
<% if @posts_params == nil %>
 <strong>Number of Post: 0 </strong>
</p>  
<%else%>
<strong>Number of Post: </strong>
 <%= @posts.count%>
<%end%>

