<main role="main">
  <div class="container">
    <div class="my-3 p-3 bg-light">
      <h6 class="border-bottom border-info pb-2 mb-0">Posts</h6>
      <%= render posts.sort_by(&:score).reverse %>
    </div>
  </div>
</main>
