<%if notice %>
  <p id="notice" class="alert alert-success" role="alert"><%= notice %></p>
<% end %>

<h1>Posts</h1>

<%= render 'shared/post_list', posts: @posts %>

<br>

<%= link_to 'New Post', new_post_path %>
