// Place all the styles related to the Upvote controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fake-button {
  padding: 0;
  border: none;
  display: inline;
  background-color: #fafafa;
}